@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avengers';
  src: url('./assets/fonts/Avengers.ttf');
}
@font-face {
  font-family: 'Avengers3D';
  src: url('./assets/fonts/Avengers 3D.ttf');
}
@font-face {
  font-family: 'American Captain';
  src: url('./assets/fonts/American Captain.ttf');
}
@font-face {
  font-family: 'Iron Man';
  src: url('./assets/fonts/Iron Man.otf');
}
@font-face {
  font-family: 'Thor';
  src: url('./assets/fonts/Thor.ttf');
}
@font-face {
  font-family: 'Hulk';
  src: url('./assets/fonts/Hulk.ttf');
}
@font-face {
  font-family: 'Black Widow';
  src: url('./assets/fonts/Black Widow.ttf');
}
@font-face {
  font-family: 'Hawkeye';
  src: url('./assets/fonts/Hawkeye.ttf');
}
@font-face {
  font-family: 'Scarlet Witch';
  src: url('./assets/fonts/Wanda.ttf');
}
@font-face {
  font-family: 'Vision';
  src: url('./assets/fonts/Vision.TTF');
}
@font-face {
  font-family: 'Captain Marvel';
  src: url('./assets/fonts/Captain Marvel.otf');
}
@font-face {
  font-family: 'Doctor Strange';
  src: url('./assets/fonts/Dr Strange.ttf');
}
@font-face {
  font-family: 'Black Panther';
  src: url('./assets/fonts/PantheraRegular-MVZ9J.ttf');
}
@font-face {
  font-family: 'Spider-Man';
  src: url('./assets/fonts/Spider Man.TTF');
}
@font-face {
  font-family: 'Ant-Man';
  src: url('./assets/fonts/Ant Man.otf');
}
@font-face {
  font-family: 'War Machine';
  src: url('./assets/fonts/Iron Man.otf');
}
@font-face {
  font-family: 'Falcon';
  src: url('./assets/fonts/American Captain.ttf');
}
@font-face {
  font-family: 'Winter Soldier';
  src: url('./assets/fonts/American Captain.ttf');
}
@font-face {
  font-family: 'Gamora';
  src: url('./assets/fonts/Gamora.otf');
}
@font-face {
  font-family: 'Nebula';
  src: url('./assets/fonts/Guardians.ttf');
}
@font-face {
  font-family: 'Star-Lord';
  src: url('./assets/fonts/Star Lord.ttf');
}
@font-face {
  font-family: 'Rocket Raccoon';
  src: url('./assets/fonts/Rocket Raccoon.ttf');
}
@font-face {
  font-family: 'Groot';
  src: url('./assets/fonts/Groot.ttf');
}
@font-face {
  font-family: 'Drax the Destroyer';
  src: url('./assets/fonts/Hulk.ttf');
}
@font-face {
  font-family: 'Mantis';
  src: url('./assets/fonts/Mighty Mantis Personal Use Without Watermark.ttf');
}
@font-face {
  font-family: 'Okoye';
  src: url('./assets/fonts/PantheraRegular-MVZ9J.ttf');
}
@font-face {
  font-family: 'Wong';
  src: url('./assets/fonts/KungFuMasterExpanded-X32x2.otf');
}
@font-face {
  font-family: 'Valkyrie';
  src: url('./assets/fonts/Thor.ttf');
}
@font-face {
  font-family: 'Ancient One';
  src: url('./assets/fonts/Dr Strange.ttf');
}
@font-face {
  font-family: 'Nick Fury';
  src: url('./assets/fonts/AVENGEANCE HEROIC AVENGER.ttf');
}
@font-face {
  font-family: 'Pepper Potts';
  src: url('./assets/fonts/Iron Man.otf');
}
@font-face {
  font-family: 'Thanos';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Deadpool';
  src: url('./assets/fonts/DeadpoolMovie-9AzL.ttf');
}
@font-face {
  font-family: 'Venom';
  src: url('./assets/fonts/RW-leichenhaus.ttf');
}
@font-face {
  font-family: 'Loki';
  src: url('./assets/fonts/ARB 85 Poster Script JAN-39 FRE.ttf');
}
@font-face {
  font-family: 'Hela';
  src: url('./assets/fonts/Renegade Fonts - HelaBasic 600.otf');
}
@font-face {
  font-family: 'Ultron';
  src: url('./assets/fonts/AgeOfUltron-W7on.ttf');
}
@font-face {
  font-family: 'Quicksilver';
  src: url('./assets/fonts/Avengers.ttf');
}
@font-face {
  font-family: 'Wolverine';
  src: url('./assets/fonts/DeadpoolMovie-9AzL.ttf');
}
@font-face {
  font-family: 'Shang-Chi';
  src: url('./assets/fonts/KungFuMasterExpanded-X32x2.otf');
}
@font-face {
  font-family: 'Moon Knight';
  src: url('./assets/fonts/AVENGEANCE HEROIC AVENGER.ttf');
}
@font-face {
  font-family: 'Daredevil';
  src: url('./assets/fonts/AVENGEANCE HEROIC AVENGER.ttf');
}
@font-face {
  font-family: 'Punisher';
  src: url('./assets/fonts/Punishment.otf');
}
@font-face {
  font-family: 'Magneto';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Blade';
  src: url('./assets/fonts/Renegade Fonts - HelaBasic 600.otf');
}
@font-face {
  font-family: 'Doctor Doom';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Ghost Rider';
  src: url('./assets/fonts/DeadpoolMovie-9AzL.ttf');
}
@font-face {
  font-family: 'Professor X';
  src: url('./assets/fonts/AVENGEANCE HEROIC AVENGER.ttf');
}
@font-face {
  font-family: 'Captain Carter';
  src: url('./assets/fonts/American Captain.ttf');
}
@font-face {
  font-family: 'She-Hulk';
  src: url('./assets/fonts/Hulk.ttf');
}
@font-face {
  font-family: 'Ms. Marvel';
  src: url('./assets/fonts/Captain Marvel.otf');
}
@font-face {
  font-family: 'Silver Surfer';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Mister Fantastic';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Human Torch';
  src: url('./assets/fonts/DeadpoolMovie-9AzL.ttf');
}
@font-face {
  font-family: 'Gambit';
  src: url('./assets/fonts/PantheraRegular-MVZ9J.ttf');
}
@font-face {
  font-family: 'Namor';
  src: url('./assets/fonts/Renegade Fonts - HelaBasic 600.otf');
}
@font-face {
  font-family: 'Green Goblin';
  src: url('./assets/fonts/Spider Man.TTF');
}
@font-face {
  font-family: 'Doctor Octopus';
  src: url('./assets/fonts/Spider Man.TTF');
}
@font-face {
  font-family: 'Invisible Woman';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'The Thing';
  src: url('./assets/fonts/Hulk.ttf');
}
@font-face {
  font-family: 'Cable';
  src: url('./assets/fonts/Punishment.otf');
}
@font-face {
  font-family: 'Colossus';
  src: url('./assets/fonts/American Captain.ttf');
}
@font-face {
  font-family: 'Storm';
  src: url('./assets/fonts/Captain Marvel.otf');
}
@font-face {
  font-family: 'Cyclops';
  src: url('./assets/fonts/AVENGEANCE HEROIC AVENGER.ttf');
}
@font-face {
  font-family: 'Jean Grey';
  src: url('./assets/fonts/Renegade Fonts - HelaBasic 600.otf');
}
@font-face {
  font-family: 'Rogue';
  src: url('./assets/fonts/Gamora.otf');
}
@font-face {
  font-family: 'Kingpin';
  src: url('./assets/fonts/AVENGEANCE HEROIC AVENGER.ttf');
}
@font-face {
  font-family: 'Kate Bishop';
  src: url('./assets/fonts/Hawkeye.ttf');
}
@font-face {
  font-family: 'Yelena Belova';
  src: url('./assets/fonts/Black Widow.ttf');
}
@font-face {
  font-family: 'Shuri';
  src: url('./assets/fonts/PantheraRegular-MVZ9J.ttf');
}
@font-face {
  font-family: 'America Chavez';
  src: url('./assets/fonts/Dr Strange.ttf');
}
@font-face {
  font-family: 'Adam Warlock';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Korg';
  src: url('./assets/fonts/Thor.ttf');
}
@font-face {
  font-family: 'Red Guardian';
  src: url('./assets/fonts/American Captain.ttf');
}
@font-face {
  font-family: 'Monica Rambeau';
  src: url('./assets/fonts/Captain Marvel.otf');
}
@font-face {
  font-family: 'Ironheart';
  src: url('./assets/fonts/Iron Man.otf');
}
@font-face {
  font-family: 'Cassie Lang';
  src: url('./assets/fonts/Ant Man.otf');
}
@font-face {
  font-family: 'Echo';
  src: url('./assets/fonts/AVENGEANCE HEROIC AVENGER.ttf');
}
@font-face {
  font-family: 'Taskmaster';
  src: url('./assets/fonts/Black Widow.ttf');
}
@font-face {
  font-family: 'Agatha Harkness';
  src: url('./assets/fonts/Wanda.ttf');
}
@font-face {
  font-family: 'Kang the Conqueror';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Abomination';
  src: url('./assets/fonts/Hulk.ttf');
}
@font-face {
  font-family: 'Yondu Udonta';
  src: url('./assets/fonts/Star Lord.ttf');
}
@font-face {
  font-family: 'Wenwu';
  src: url('./assets/fonts/KungFuMasterExpanded-X32x2.otf');
}
@font-face {
  font-family: 'Gorr the God Butcher';
  src: url('./assets/fonts/Renegade Fonts - HelaBasic 600.otf');
}
@font-face {
  font-family: 'Hercules';
  src: url('./assets/fonts/American Captain.ttf');
}
@font-face {
  font-family: 'High Evolutionary';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Ikaris';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Thena';
  src: url('./assets/fonts/Captain Marvel.otf');
}
@font-face {
  font-family: 'Sentry';
  src: url('./assets/fonts/American Captain.ttf');
}
@font-face {
  font-family: 'Mobius';
  src: url('./assets/fonts/AVENGEANCE HEROIC AVENGER.ttf');
}
@font-face {
  font-family: 'Sersi';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Mighty Thor';
  src: url('./assets/fonts/Thor.ttf');
}
@font-face {
  font-family: 'U.S. Agent';
  src: url('./assets/fonts/American Captain.ttf');
}
@font-face {
  font-family: 'Ghost';
  src: url('./assets/fonts/Ant Man.otf');
}
@font-face {
  font-family: 'Happy Hogan';
  src: url('./assets/fonts/Iron Man.otf');
}
@font-face {
  font-family: 'Maria Hill';
  src: url('./assets/fonts/AVENGEANCE HEROIC AVENGER.ttf');
}
@font-face {
  font-family: 'Kraglin';
  src: url('./assets/fonts/Star Lord.ttf');
}
@font-face {
  font-family: 'Makkari';
  src: url('./assets/fonts/Captain Marvel.otf');
}
@font-face {
  font-family: 'Druig';
  src: url('./assets/fonts/Dr Strange.ttf');
}
@font-face {
  font-family: 'Phastos';
  src: url('./assets/fonts/GalacticVanguardianNcv-myVP.ttf');
}
@font-face {
  font-family: 'Kingo';
  src: url('./assets/fonts/Captain Marvel.otf');
}
/* index.css or App.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
footer {
  background: linear-gradient(90deg, #222 0%, #444 100%);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 500;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.08);
  margin-top: 2rem;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #242424;
}

#root {
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: clamp(1.75rem, 4vw + 1rem, 2.5rem);
  line-height: 1.1;
}

h2 {
  font-family: myFont;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
